
.main .toggle,.main .destroy{
  cursor: pointer;
}
.toggle-all + label{
  cursor: pointer;
  top: 13px !important;
  left: -5px !important;
  z-index: 2;
}
.toggle-all + label:before{
  display: block;
}
.toggle-all:checked + label:before{
  transform: rotate(-180deg);
}